
#mysignupheader{
    text-align: center;
    border: solid rgba(194, 142, 235, 0.889);
    border-radius: 50px 50px ;
}
#mysignupheader i{
    margin-right: 10px;
}
.passwordToggler {
    color: var(--bs-gray-800);
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%)
}

