
#mysignupheader{
    text-align: center;
    border: solid rgba(194, 142, 235, 0.889);
    border-radius: 50px 50px ;
}
#mysignupheader i{
    margin-right: 10px;
}
.passwordToggler {
    color: var(--bs-gray-800);
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%)
}

/* .patternsquare{
    background:radial-gradient(#9C8E8E 15%, transparent 16%) 0% 0% / 3em 3em, linear-gradient(45deg, transparent 49%, #9C8E8E 49% 51%, transparent 51%) 0% 0% / 3em 3em, linear-gradient(-45deg, transparent 49%, #9C8E8E 49% 51%, transparent 51%) 0% 0% / 3em 3em #F9F9FF;
    
    background-size: 22px 22px;
} */